<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.firebase_analytics" 
    android:versionCode="1802"
    android:versionName="18.0.2">

    <uses-sdk android:minSdkVersion="16" />

    <application />

</manifest>